@import "commonMixin";

#menu{
  position: fixed;
  z-index:10;
  width:100%;
  height:100%;
  .menu-bg{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .menu-content{
    $width:200px;
    @include origin(-$width,0);
    position: absolute;
    height:100%;
    background-color: #fff;
    width: $width;
    @keyframes menu-content {
      from{left:-$width}
      to{left:0}
    }
    animation:{
      duration: 0.3s;
      name: menu-content;
      fill-mode:forwards;
    }
  }
  .menu-header{
    box-sizing: border-box;
    @include size(200px,70px);
    padding: 15px;
    font-size: 15px;
    color: #313131;
    .menu-not-login{
      padding:8px 9px;
      overflow: hidden;
      .menu-not-login-img{
        float:left;
        @include size(24px,24px);
        background-image: url('../images/components/login_icon.png');
        background-size: 100% 100%;
      }
      .menu-not-login-text{
        margin-left:10px;
        line-height: 24px;
        float:left;
      }
    }
  }
  .menu-icon{
    margin: 0 24px;
    border-top: 1px solid #d4d4d4;
    overflow: hidden;
    padding-top: 9%;
    li{
      font-size: 14px;
      font-weight: 200;
      padding: 9% 0;
      text-align: left;
      text-indent: 1px;
      line-height: 15px;
      color: #7f8c8d;
      padding-left:30px;
    }
  }
}
//menu退出动画
.menu-transition-leave{
  .menu-content{
      transform: translateX(-200px);
      transition: all .3s ease;
  }
}